@import "./../../../../tailwindcss-config/global.css";

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  @apply absolute top-1.5 block h-[0.563rem] w-[0.563rem] border-[3px_3px_0_0] content-[''];
}
.react-datepicker-wrapper {
  @apply inline-block border-0 p-0;
}
.react-datepicker {
  @apply relative inline-block rounded-lg border bg-white p-3 text-xs leading-[0.875rem] text-subtle;
}
.react-datepicker--time-only .react-datepicker__time-container {
  @apply border-l-0;
}
.react-datepicker--time-only .react-datepicker__time,
.react-datepicker--time-only .react-datepicker__time-box {
  @apply rounded-bl-[0.3rem] rounded-br-[0.3rem];
}
.react-datepicker-popper {
  @apply z-[1] leading-[0];
}
.react-datepicker-popper .react-datepicker__triangle {
  @apply stroke-[#aeaeae];
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  @apply fill-[#f0f0f0] text-[#f0f0f0];
}
.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
  @apply fill-white text-white;
}
.react-datepicker__header {
  @apply relative rounded-tl-[0.3rem] bg-[color:var(--white-100)] px-0 py-2 text-center;
}
.react-datepicker__header--time {
  @apply px-[0.313rem] pb-2;
}
.react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  @apply rounded-tl-none;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  @apply rounded-tr-[0.3rem];
}
.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  @apply mx-[0.938rem] my-0 inline-block;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  @apply mt-0 font-[bold] text-[0.944rem] text-black;
}
h2.react-datepicker__current-month {
  @apply m-0 p-0;
}
.react-datepicker-time__header {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}
.react-datepicker__navigation {
  @apply absolute top-0.5 z-[1] flex h-8 w-8 cursor-pointer items-center justify-center overflow-hidden border-[none] p-0 text-center indent-[-999em];
  background: none;
}
.react-datepicker__navigation--previous {
  @apply left-0.5;
}
.react-datepicker__navigation--next {
  @apply right-0.5;
}
.react-datepicker__navigation--next--with-time:not(
    .react-datepicker__navigation--next--with-today-button
  ) {
  @apply right-[5.313rem];
}
.react-datepicker__navigation--years {
  @apply relative top-0 mx-auto block;
}
.react-datepicker__navigation--years-previous {
  @apply top-1;
}
.react-datepicker__navigation--years-upcoming {
  @apply -top-1;
}
.react-datepicker__navigation:hover *::before {
  @apply border-[#a6a6a6];
}
.react-datepicker__navigation-icon {
  @apply relative -top-px w-0 text-xl;
}
.react-datepicker__navigation-icon--next {
  @apply -left-0.5 before:left-[0.438rem] before:rotate-45;
}
.react-datepicker__navigation-icon--previous {
  @apply -right-0.5 before:right-[0.438rem] before:rotate-[225deg];
}
.react-datepicker__month-container {
  @apply float-left;
}
.react-datepicker__year {
  @apply text-center;
}
.react-datepicker__year-wrapper {
  @apply grid grid-cols-3 gap-1;
}
.react-datepicker__year .react-datepicker__year-text {
  @apply px-2 py-[0.4375rem];
}

.react-datepicker__year-text[tabindex="0"] {
  @apply rounded bg-brand text-white hover:!bg-brand;
}

.react-datepicker__month {
  @apply space-y-1 text-center;
}
.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  @apply rounded p-2 text-xs leading-[0.875rem] text-subtle;
}
.react-datepicker__input-time-container {
  @apply float-left clear-both mb-2.5 ml-[0.938rem] mr-0 mt-[0.313rem] w-full text-left;
}
.react-datepicker__input-time-container .react-datepicker-time__caption {
  @apply inline-block;
}
.react-datepicker__input-time-container
  .react-datepicker-time__input-container {
  @apply inline-block;
}
.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input {
  @apply ml-2.5 inline-block;
}
.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input
  input {
  @apply w-auto;
}
.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input
  input[type="time"]::-webkit-inner-spin-button,
.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input
  input[type="time"]::-webkit-outer-spin-button {
  @apply m-0;
  -webkit-appearance: none;
}
.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input
  input[type="time"] {
  -moz-appearance: textfield;
}
.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__delimiter {
  @apply ml-[0.313rem] inline-block;
}
.react-datepicker__time-container {
  @apply float-right w-[5.313rem] border-l border-solid border-l-[#aeaeae];
}
.react-datepicker__time-container--with-today-button {
  @apply absolute right-[-5.438rem] top-0 inline rounded-[0.3rem] border border-solid border-[#aeaeae];
}
.react-datepicker__time-container .react-datepicker__time {
  @apply relative rounded-br-[0.3rem];
  background: white;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  @apply mx-auto my-0 w-[5.313rem] overflow-x-hidden rounded-br-[0.3rem] text-center;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  @apply m-0 box-content h-[calc(195px_+_1.7rem_/_2)] w-full overflow-y-scroll px-0;
  list-style: none;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  @apply h-[1.875rem] whitespace-nowrap px-2.5 py-[0.313rem];
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  @apply cursor-pointer bg-[#f0f0f0];
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  @apply bg-brand text-white;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  @apply bg-brand;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--disabled {
  @apply text-[#ccc];
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--disabled:hover {
  @apply cursor-default bg-transparent;
}
.react-datepicker__week-number {
  @apply m-[0.166rem] inline-block w-[1.7rem] text-center leading-[1.7rem] text-[#ccc];
}
.react-datepicker__week-number.react-datepicker__week-number--clickable {
  @apply cursor-pointer;
}
.react-datepicker__week-number.react-datepicker__week-number--clickable:not(
    .react-datepicker__week-number--selected,
    .react-datepicker__week-number--keyboard-selected
  ):hover {
  @apply rounded-[0.3rem] bg-[#f0f0f0];
}
.react-datepicker__week-number--selected {
  @apply rounded-[0.3rem] bg-brand text-white hover:bg-brand;
}
.react-datepicker__week-number--keyboard-selected {
  @apply rounded-[0.3rem] bg-brand text-white hover:bg-brand;
}
.react-datepicker__day-names {
  @apply -mb-2 whitespace-nowrap;
}
.react-datepicker__week {
  @apply whitespace-nowrap;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  @apply m-[0.166rem] inline-block w-[1.7rem] text-center leading-[1.7rem] text-[color:var(--white-1100)];
}
.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  @apply cursor-pointer;
}
.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
.react-datepicker__year-text:not([aria-disabled="true"]):hover {
  @apply rounded-[0.3rem] bg-[#f0f0f0];
}
.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
  @apply rounded-[0.3rem] bg-[#3dcc4a] text-white;
}
.react-datepicker__day--highlighted:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--highlighted:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--highlighted:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--highlighted:not([aria-disabled="true"]):hover {
  @apply bg-[#32be3f];
}
.react-datepicker__day--highlighted-custom-1,
.react-datepicker__month-text--highlighted-custom-1,
.react-datepicker__quarter-text--highlighted-custom-1,
.react-datepicker__year-text--highlighted-custom-1 {
  @apply text-[magenta];
}
.react-datepicker__day--highlighted-custom-2,
.react-datepicker__month-text--highlighted-custom-2,
.react-datepicker__quarter-text--highlighted-custom-2,
.react-datepicker__year-text--highlighted-custom-2 {
  @apply text-[green];
}
.react-datepicker__day--holidays,
.react-datepicker__month-text--holidays,
.react-datepicker__quarter-text--holidays,
.react-datepicker__year-text--holidays {
  @apply relative rounded-[0.3rem] bg-[#ff6803] text-white;
}
.react-datepicker__day--holidays .overlay,
.react-datepicker__month-text--holidays .overlay,
.react-datepicker__quarter-text--holidays .overlay,
.react-datepicker__year-text--holidays .overlay {
  @apply invisible absolute bottom-full left-2/4 -translate-x-2/4 whitespace-nowrap rounded bg-[#333] p-1 text-white opacity-0;
  transition:
    visibility 0s,
    opacity 0.3s ease-in-out;
}
.react-datepicker__day--holidays:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--holidays:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--holidays:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--holidays:not([aria-disabled="true"]):hover {
  @apply bg-[#cf5300];
}
.react-datepicker__day--holidays:hover .overlay,
.react-datepicker__month-text--holidays:hover .overlay,
.react-datepicker__quarter-text--holidays:hover .overlay,
.react-datepicker__year-text--holidays:hover .overlay {
  @apply visible opacity-100;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  @apply rounded-[0.3rem] bg-[color:var(--brand-50)] text-[color:var(--brand-700)];
}
.react-datepicker__day--selected:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__month-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__quarter-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__year-text--in-range:not([aria-disabled="true"]):hover {
  @apply bg-brand;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  @apply rounded-[0.3rem] bg-brand !text-[white];
}
.react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--keyboard-selected:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__quarter-text--keyboard-selected:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__year-text--keyboard-selected:not(
    [aria-disabled="true"]
  ):hover {
  @apply bg-brand;
}
.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__month-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__quarter-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__year-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  @apply bg-brand-subtle;
}
.react-datepicker__month--selecting-range
  .react-datepicker__day--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__year--selecting-range
  .react-datepicker__day--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__month--selecting-range
  .react-datepicker__month-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__year--selecting-range
  .react-datepicker__month-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__month--selecting-range
  .react-datepicker__quarter-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__year--selecting-range
  .react-datepicker__quarter-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__month--selecting-range
  .react-datepicker__year-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__year--selecting-range
  .react-datepicker__year-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ) {
  @apply bg-[#f0f0f0] text-black;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  @apply cursor-default text-[#ccc];
}
.react-datepicker__day--disabled .overlay,
.react-datepicker__month-text--disabled .overlay,
.react-datepicker__quarter-text--disabled .overlay,
.react-datepicker__year-text--disabled .overlay {
  @apply invisible absolute bottom-[70%] left-2/4 -translate-x-2/4 whitespace-nowrap rounded bg-[#333] p-1 text-white opacity-0;
  transition:
    visibility 0s,
    opacity 0.3s ease-in-out;
}
.react-datepicker__input-container {
  @apply relative inline-block w-full;
}
.react-datepicker__input-container .react-datepicker__calendar-icon {
  @apply absolute box-content p-2;
}
.react-datepicker__view-calendar-icon input {
  @apply pb-[0.313rem] pl-[1.563rem] pr-2.5 pt-1.5;
}
.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
  @apply relative rounded-[0.3rem] border border-solid border-transparent;
}
.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
  @apply cursor-pointer;
}
.react-datepicker__year-read-view:hover
  .react-datepicker__year-read-view--down-arrow,
.react-datepicker__year-read-view:hover
  .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-read-view:hover
  .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view:hover
  .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover
  .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover
  .react-datepicker__month-read-view--down-arrow {
  @apply border-t-[#b3b3b3];
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  @apply -right-4 top-0 rotate-[135deg];
}
.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  @apply absolute left-1/4 top-[1.875rem] z-[1] w-6/12 rounded-[0.3rem] border border-solid border-[#aeaeae] bg-[#f0f0f0] text-center;
}
.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:hover,
.react-datepicker__month-year-dropdown:hover {
  @apply cursor-pointer;
}
.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
  @apply h-[9.375rem] overflow-y-scroll;
}
.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
  @apply mx-auto block w-full leading-5;
}
.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type,
.react-datepicker__month-year-option:first-of-type {
  @apply rounded-t-[0.3rem];
}
.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type,
.react-datepicker__month-year-option:last-of-type {
  @apply select-none rounded-bl-[0.3rem] rounded-br-[0.3rem];
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover,
.react-datepicker__month-year-option:hover {
  @apply bg-[#ccc];
}
.react-datepicker__year-option:hover
  .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover
  .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-year-option:hover
  .react-datepicker__navigation--years-upcoming {
  @apply border-b-[#b3b3b3];
}
.react-datepicker__year-option:hover
  .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover
  .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover
  .react-datepicker__navigation--years-previous {
  @apply border-t-[#b3b3b3];
}
.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected,
.react-datepicker__month-year-option--selected {
  @apply absolute left-[0.938rem];
}
.react-datepicker__close-icon {
  @apply absolute right-0 top-0 table-cell h-full cursor-pointer border-0 bg-transparent py-0 pl-0 pr-1.5 align-middle after:table-cell after:h-4 after:w-4 after:cursor-pointer after:rounded-[50%] after:bg-brand after:p-0.5 after:text-center after:align-middle after:text-xs after:leading-none after:text-white after:content-['×'];
  outline: 0;
}
.react-datepicker__close-icon--disabled {
  @apply cursor-default after:cursor-default after:bg-[#ccc];
}
.react-datepicker__today-button {
  @apply clear-left cursor-pointer border-t border-solid border-t-[#aeaeae] px-0 py-[0.313rem] text-center;
  background: #f0f0f0;
}
.react-datepicker__portal {
  @apply fixed left-0 top-0 z-[2147483647] flex h-screen w-screen items-center justify-center bg-[rgba(0,0,0,0.8)];
}
.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
  @apply w-12 leading-[3rem];
}
@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    @apply w-8 leading-8;
  }
}
.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
  @apply text-[1.44rem];
}
.react-datepicker__children-container {
  @apply m-[0.4rem] h-auto w-[13.8rem] px-[0.2rem];
}
.react-datepicker__aria-live {
  @apply absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0;
  clip-path: circle(0);
}
.react-datepicker__calendar-icon {
  @apply h-[1em] w-[1em];
  vertical-align: -0.125em;
}

.react-datepicker__header--custom {
  @apply mb-3 p-0;
}

.react-datepicker__day--range-end,
.react-datepicker__day--range-start,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--selecting-range-start,
.react-datepicker__month-text--range-end,
.react-datepicker__month-text--range-start,
.react-datepicker__month-text--selecting-range-end,
.react-datepicker__month-text--selecting-range-start,
.react-datepicker__year-text--range-end,
.react-datepicker__year-text--range-start,
.react-datepicker__year-text--selecting-range-end,
.react-datepicker__year-text--selecting-range-start {
  @apply !bg-brand !text-[white];
}

.react-datepicker__month-wrapper {
  @apply grid grid-cols-3 gap-1;
}
